.react-calendar {
  width: 100%;
  max-width: 600px;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}

.react-calendar__tile {
  padding: 1em;
  min-height: 3rem;
  text-align: center;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.react-calendar__tile:enabled:hover {
  /* lighten existing color: ; */
  background-color: rgba(0, 123, 255, 0.2);
}

.react-calendar__tile--active {
  background-color: #007bff !important;
}

/* Today's tile styles */
.react-calendar .react-calendar__tile--now {
  /* More specific selector */
  /* background-color: #4ec1a2e3; */
  border: 2px dotted #4ec1a2e3;
  border-radius: 8px; /* Consistent with other tiles */
  background-color: inherit;
}

.react-calendar .react-calendar__tile--now:enabled:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

/* Ensure dot container doesn't break row height */
.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  /* if more than 4 dot make them go to the new line: */
  flex-wrap: wrap;
}

.dot {
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  margin: 0 1px;
}

/* Tooltip styles */
.dot-container {
  position: relative;
}

.chore-tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
}

/* remove different color on weekend: */
.react-calendar__month-view__days__day--weekend {
  color: inherit;
}
